:root {
    --col-bg: #888;
    --col-colour: #000;

    --theme-transition-time: 5s;
    --theme-transition-ease: ease-in;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[theme="field"] {
    --col-bg: #7a7;
    --col-colour: #264;
}

[theme="magic"] {
    --col-bg: #213;
    --col-colour: #c8f;
}

[theme="cave"] {
    --col-bg: #000;
    --col-colour: #fff;
}

body {
    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 20px;

    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;

    background-color: var(--col-bg);
    overflow: hidden;

    transition: background-color var(--theme-transition-time) var(--theme-transition-ease);
}

h1 {
    color: var(--col-colour);

    transition: color var(--theme-transition-time) var(--theme-transition-ease);
}

#canvas-container {
    display: flex;

    flex-grow: 1;
    width: 100%;

    min-height: 0;

    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid var(--col-colour);
    border-radius: 5px;
    transition: border-color var(--theme-transition-time) var(--theme-transition-ease);
}

@media (max-height: 640px) {
    h1 {
        display: none;
    }
}